@use "../variable" as *;
@use "../mixins" as *;

.headerContainer {
  @include flexCenter;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 20px;
  position: fixed;
  width:100%;
  background-color: white;
  z-index: 1000;

  h1 {
    color: $primary;
    text-transform: uppercase;
    font-size: 1.5rem;

    @include smallWidth {
      display: none;
    }
  }

  nav {
    .userAndLogout {

      span {
        margin-right: 0.76rem;
        background-color: rgb(228, 226, 226);
        padding: 12px;
        color:$primary;
        border-radius: $border-r;
        vertical-align: middle;
      }
      .btns {
        @include btn();
        padding: 10px 12px;
        vertical-align: middle;
        margin-right: 12px;
      }

        @include smallWidth{
           width:100%;
           display: flex;
           justify-content: space-between;
        }
    }

    .logInoutDiv {
      position: relative;

      .btns {
        @include btn();
        padding: 10px 12px;
        vertical-align: middle;
        margin-right: 12px;

        a {
          color: $white;
          font-weight: 500;
        }
      }

      @include smallWidth {
        width: 100%;

        button:nth-child(2) {
          position: absolute;
          right: 0;
        }
      }
    }

    @include smallWidth {
      width: 100%;
    }
  }

  @include smallWidth {
    padding: 15px 10px;
  }
}
