@use "../variable" as *;
@use "../mixins" as *;

.workout-details {
  //   position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  @include modileWidth {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .workoutContent {
    h4 {
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: var(--primary);
    }

    p {
      margin: 0px;
      font-size: 0.9rem;
      color: #555;
    }
  }

  .buttonsDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;


    @include modileWidth {
        justify-content: flex-start
    }


    .btn {
      @include btn;
      height: 45px;
      width: 45px;
      padding: 10px;
      border-radius: 50%;
      margin-right: 10px;

      .icon {
        font-size: 1.5rem;
      }
    }
  }
}
