@use "../variable" as *;
@use "../mixins" as *;

.loginContainer {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

  .loginform {
   width: 400px;

    .login {
      width: 100%;
      background-color: #fff;
      border-radius: $border-r;
      padding: 25px;

      h4 {
        text-align: center;
        font-size: 1.5rem;
        color: $primary;
      }

      .inputField {
        @include flexCenter;
        border: 1px solid rgb(197, 195, 195);
        padding: 10px;
        border-radius: $border-r;
        margin: 1.5rem 0;

        input {
          font-size: 0.89rem;
          width: 100%;
          display: block;
          border:none
          // border:2px solid blue;
        }

        .icon {
          font-size: 1.8rem;
          color: $primary;
          border: none;
          background: transparent;
          vertical-align: middle;
        }
      }

      .btns {
        @include btn($width: 100%);
        padding: 0.89rem;
      }
    }

      @media (max-width: 640px) {
        max-width: 320px;
      }
  }
}
